swagger: "2.0"
info:
    title: Identity Service
    description: User registration, authentication and token validation
    version: 0.0.1
host: localhost:8081
consumes:
    - application/json
    - application/xml
    - application/gob
produces:
    - application/json
    - application/xml
    - application/gob
paths:
    /openapi.json:
        get:
            tags:
                - identity
            summary: Download gen/http/openapi.json
            operationId: identity#/openapi.json
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
    /v1/identity/login:
        post:
            tags:
                - identity
            summary: login identity
            description: Authenticates a user and issues a JWT
            operationId: identity#login
            parameters:
                - name: LoginRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/Credentials'
                    required:
                        - email
                        - password
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/TokenResult'
                        required:
                            - access_token
                            - expires_in
            schemes:
                - http
    /v1/identity/register:
        post:
            tags:
                - identity
            summary: register identity
            description: Registers a new user
            operationId: identity#register
            parameters:
                - name: RegisterRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/RegisterPayload'
                    required:
                        - display_name
                        - email
                        - password
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/IdentityUser'
            schemes:
                - http
    /v1/identity/validate:
        post:
            tags:
                - identity
            summary: validate_token identity
            description: Validates a JWT and returns the claims
            operationId: identity#validate_token
            parameters:
                - name: validate_token_request_body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/ValidateTokenPayload'
                    required:
                        - token
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/ValidationResult'
                        required:
                            - valid
            schemes:
                - http
definitions:
    Credentials:
        title: Credentials
        type: object
        properties:
            email:
                type: string
                example: service@example.com
                format: email
            password:
                type: string
                example: changeme123
                minLength: 8
        example:
            email: service@example.com
            password: changeme123
        required:
            - email
            - password
    IdentityUser:
        title: 'Mediatype identifier: application/vnd.identity.user; view=default'
        type: object
        properties:
            created_at:
                type: string
                description: Creation timestamp
                example: "1990-03-30T14:28:27Z"
                format: date-time
            display_name:
                type: string
                description: Display name
                example: Iusto et in unde illo.
            email:
                type: string
                description: Email address
                example: Qui enim natus voluptatem.
            id:
                type: string
                description: User identifier
                example: Sed eum sed mollitia.
        description: RegisterResponseBody result type (default view)
        example:
            created_at: "1978-04-28T10:10:34Z"
            display_name: Optio animi distinctio quia fugiat voluptatem ut.
            email: Nesciunt odio.
            id: In deserunt doloremque aperiam et quia.
        required:
            - id
            - email
            - display_name
            - created_at
    RegisterPayload:
        title: RegisterPayload
        type: object
        properties:
            display_name:
                type: string
                example: Service Admin
                minLength: 3
            email:
                type: string
                example: service@example.com
                format: email
            password:
                type: string
                example: changeme123
                minLength: 8
        example:
            display_name: Service Admin
            email: service@example.com
            password: changeme123
        required:
            - display_name
            - email
            - password
    TokenResult:
        title: TokenResult
        type: object
        properties:
            access_token:
                type: string
                description: JWT access token
                example: Voluptatem et.
            expires_in:
                type: integer
                description: Token expiry window in seconds
                example: 7485940343507248224
                format: int64
        example:
            access_token: Quaerat hic nostrum nulla.
            expires_in: 6992845218462439714
        required:
            - access_token
            - expires_in
    ValidateTokenPayload:
        title: ValidateTokenPayload
        type: object
        properties:
            token:
                type: string
                description: JWT access token
                example: Vel aut ut nobis.
        example:
            token: Tenetur quis eaque magnam omnis.
        required:
            - token
    ValidationResult:
        title: ValidationResult
        type: object
        properties:
            email:
                type: string
                example: Quo consectetur.
            reason:
                type: string
                example: Eaque itaque.
            user_id:
                type: string
                example: Rerum et voluptatem cum.
            valid:
                type: boolean
                example: true
        example:
            email: Consequatur voluptates voluptatibus quas minima sequi.
            reason: Autem dolorem itaque rerum voluptas sint iure.
            user_id: Et aut molestiae architecto molestiae alias.
            valid: true
        required:
            - valid
